.modalimg img:hover {
    opacity: 0.8;
}


.timeline>li{
    min-height:0px !important;
    margin-bottom: 10px !important;
}

@media(min-width:922px) {

    .timeline>li{
        min-height:100px !important;
        margin-bottom: 100px !important;
    }

    .timeline:before{
        left:75% !important;
    }

    .timeline2:before{
        left:25% !important;
    }

    .timeline>li .timeline-image {
        left:75% !important;
        width: 190px;
        height: 190px;
        margin-left: -95px;
    }

    .timeline2>li .timeline-image {
        left:25% !important;
        width: 190px;
        height: 190px;
        margin-left: -95px;
    }

    .timeline>li .timeline-panel {
        width:60% !important;
    }

    .timeline2>li .timeline-panel {
        width:60% !important;
    }
}

@media(min-width:1200px) {

    .timeline>li{
        min-height:100px !important;
        margin-bottom: 100px !important;
    }

    .timeline:before{
        left:75% !important;
    }

    .timeline2:before{
        left:25% !important;
    }

    .timeline>li .timeline-image {
        left:75% !important;
        width: 190px;
        height: 190px;
        margin-left: -95px;
    }

    .timeline2>li .timeline-image {
        left:25% !important;
        width: 190px;
        height: 190px;
        margin-left: -95px;
    }

    .timeline>li .timeline-panel {
        width:60% !important;
    }

    .timeline2>li .timeline-panel {
        width:60% !important;
    }
}
