@import "index.css";
#home{
	background-image: url('../images/card17.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
    width: 100%;
	text-align:left;
}

.menu li:hover > a { color: #5FA2DD;}

.myName h1:hover > a { color: #5FA2DD; }

a {
    color: #5FA2DD;
    text-decoration: none;
}
a:hover {
    color: #5FA2DD;
    text-decoration: underline;
}
#ligneNoir
{
	background-color:#5FA2DD;
}

#ligne
{
	background-color:rgba(95, 162, 221, 0.30);
}

#surmiddle
{
	background-color:rgba(95, 162, 221, 0.10);
}

#lignePied
{
	background-color:#5FA2DD;
}

.reseau {
	position: relative;
	width:100%;
}

#visualisationMetExplore {

	top:100;

	z-index: 0;

	background-color: #000000;

    margin-left: auto;

	margin-right: auto;

	border-radius: 10px;

	width: 1200px;

	height: 600px;

	position: relative;

}